body{
    margin: 0px;
    text-align: center;
    background-color: #D3D3D3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    padding-top: 50px;
}

#footer{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    position: fixed;
    width: 100%;
    align-content: center;
    bottom: 0;
}

#header{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: lightgrey;
}


#homebody
{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}